/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
}
li {
    font-size: 14pt;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 100px;
}
body > .row {
    margin-top: 100px;
}

/* body > .table-responsive{
    border:1px solid black;
    text-align: center;
    margin-left: 150px;
    padding: 9px;
    width:800px;
    background-color: #4682B4;
}
body > .table {
 	background-color: white;
 	color:black;
 	padding: 5px;
 	border: 1px solid black;
 	width: auto;
}
body > .row > .h3{
    font-size: 14px;
    font-weight: bold;
    color: red;
}
.h4{
    font-size: 13px;
    font-weight: bold;
}*/

table caption {
	padding: .5em 0;
        font-weight: bold;
        color: #000;
        background-color: white;
        border-bottom: 1px solid #ddd;
}

.container .text-muted {
  margin: 20px 0;
}
.jumbotron
{
    float: centre;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding: 10px;
  width: 84.5%;
  background-color: #42586E;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container > .mytable {
 	text-align: center;
 	margin-left: 150px;
 	padding: 9px;
 	width:800px;
 	border: 1px solid black;
 	background-color: #006666;
 }
 .container > .mytable th { 
 	border: 1px solid black;
 	background-color:#99ffff;
 	color:black;
 	width:auto; 
 	text-align: center;
 }
 .container > .mytable td {
 	background-color: white;
 	color:black;
 	padding: 5px;
 	border: 1px solid black;
 	width: auto; }

code {
  font-size: 80%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

* {
  box-sizing: border-box;
}

.gallery-item {
  float: left;
  margin: 0 15px 15px 0;
  label img {
    border: 1px solid #ccc;
  }
}

.gallery {
  label {
    cursor: pointer;
  }
}


.gallery input {
  display: none;
  
  &:checked {
    + .gallery-cover {
      opacity: 1;
      z-index: 999;
    }
  }
}

.gallery-cover {
  opacity: 0;
  z-index: -1;
  user-select: none; 
  transition: all ease 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: table-cell;
  background: rgba(0,0,0,0.6);
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
.gallery-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  left: 0;
  bottom: 0;
  font-size: 26px;
  color: #fff;
  z-index: 1000;
  text-align: right;
}
.gallery-nav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding: 10%;
  color: #fff;
  font-size: 30px;
}
.gallery-next {
  left: auto;
  right: 0;
  text-align: right;
}
.gallery-image {
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  z-index: 1001;

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }
}