/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #cce0ff !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #fff;
}
li {
    font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;
  }
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 100px;
}
body > .row {
    margin-top: 100px;
}

table caption {
	padding: .5em 0;
        font-weight: bold;
        color: #000;
        text-align: center;
}

.container .text-muted {
  margin: 20px 0;
}
.jumbotron
{
    float: centre;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding: 10px;
  width: 84.5%;
  background-color: #42586E;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container > .mytable {
 	text-align: center;
 	margin-left: 150px;
 	padding: 9px;
 	width:800px;
 	border: 1px solid black;
 	background-color: #006666;
 }
 .container > .mytable th { 
 	border: 1px solid black;
 	background-color:#99ffff;
 	color:black;
 	width:auto; 
 	text-align: center;
 }
 .container > .mytable td {
 	background-color: white;
 	color:black;
 	padding: 5px;
 	border: 1px solid black;
 	width: auto; }

code {
  font-size: 80%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {

  margin-bottom: 0px;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}


.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

/* CSS Document */
#gallery {
  margin: 100px auto;
  width:760px;
  background-color:#111;
	}

#gallery a {
	text-decoration:none;
	}

#gallery .item {
	width: 200px; height: 200px; overflow: hidden;
	float: left;
	border: 5px solid #333;
	margin: 5px;
	}


#gallery .item a { 
    overflow: hidden;
	}

#gallery .item a img {height: 100%; align-self: center;
	}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.lightbox .info {
	width: 220px;
	display: block;
	text-align: center;
	margin: 0 auto;
}	

.next,
.prev,
.close {
	padding:5px;
	background-color:#FFF;
	text-decoration:none;
	}

.close {
	margin-top: 3px;
}

.lightbox .prev {
	float:left;
	}
	
.lightbox .next {
	float:right;
	}	

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px !important;
}
